@use "../abstracts/" as *;

.footer {
  width: 100%;
  background-color: $secondary-color;
  color: $background-color;
  padding: 40px 110px;

  @include tablet {
    padding: 30px 15px;
  }

  &_top {
    @include flex($justify: space-around);
    padding-bottom: 40px;
    border-bottom: 1px solid #7d7d7d;
    width: 100%;
    gap: 0 30px;
    padding-bottom: 31px;

    @include tablet {
      gap: 0 48px;
      padding-bottom: 22px;
    }

    @include mobile {
      flex-wrap: wrap;
    }
  }

  &_list {
    flex: 1;

    @include mobile {
      min-width: calc(50% - 48px);
    }
  }

  &_title {
    padding-bottom: 20px;
    margin-bottom: 15px;
    border-bottom: 1px solid #7d7d7d;
    letter-spacing: $main-spacing;
  }

  &_link {
    color: $background-color;
    display: block;
    padding-bottom: 12px;
    text-transform: capitalize;
  }

  &_bottom {
    width: 100%;
    padding-top: 20px;
    
    @include flex($align: center, $justify: space-between);
    @include mobile {
      flex-direction: column;
      text-align: center;
    }

    &_social {
      @include flex($justify: space-between);
      gap: 0 33px;

      @include tablet {
        gap: 0 21px;
      }
      @include mobile {
        order: -1;
        margin-bottom: 28px;
      }
    }
  }
  &_icon {
    max-width: 25px;
    max-height: 25px;

    :hover {
      transform: translateY(-10px);
    }

    @include tablet {
      max-width: 18px;
      max-height: 17px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }
}
