@use "../abstracts/" as *;

.hero-sec {
  background-color: #81e4ed;
}

.hidden {
  display: none;
}

.hero-content {
  @include flex($direction: column, $justify: center);
  gap: 15px;
  padding-top:20px;
  padding-bottom: 20px;

  &_images {
    display: block;
    @include flex($direction: row, $justify: center);
    gap: 10px;

  }

  &_banner {
    max-height: 440px;

  }

  @include tablet {
    padding: 20px 20px;
  }

  &_dots{
    @include flex($align: center, $justify: center);

    @include tablet {
      gap: 2px;
    }
  }

  &_dot {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #626262;
    cursor: pointer;
    margin-left: 16px;

    @include tablet {
      width: 8px;
      height: 8px;
    }
    &--active {
      background-color: white;
    }
  }
}
