@use "../abstracts/" as *;

.detail-sec {
  background-color: $background-color;
  padding: 50px 20px; 

  .detail-items {
    @include flex($direction: row, $wrap: wrap, $justify: space-between);
    gap: 20px;

    .detail-item {
      @include flex($direction: column);
      flex: 1 1 calc(25% - 20px); 
      gap: 8px;
      min-width: 200px; 

      &_head {
        overflow: visible;
        @include flex($align: center);
        gap: 23px;
      }

      &_desc {
        color: $text-color;
        font-size: 13px;
      }

      &_read {
        margin-top: 20px;
        color: $secondary-color;
        @include flex();
        gap: 10px;
      }
    }
  }
}

@include tablet {
  .detail-item {
    flex: 1 1 100%; 
  }
}
