@use "../abstracts/" as *;

.footer {
  margin-top: 40px;
  background-color: $background-color;
}
.footer-content {
  @include flex($direction: column);
  padding-top: 20px;

  @include tablet {
    padding: 20px 20px;
  }

  gap: 30px;
}

span {
  font-weight: 600;
  font-size: 15px;
}
.footer-top {
  @include flex($direction: row, $justify: space-between, $wrap: wrap);
  gap: 10px;

  &_item {
    &--desc {
      max-width: 250px;
      padding-top: 20px;
    }

    &--list {
      li {
        margin-top: 5px;
      }
    }

    &--social {
      max-width: 53px;
      max-height: 51px;
    }

    &--socials {
      @include flex($direction: column);
      &--top,
      &--bottom {
        @include flex($direction: row, $justify: space-between);
        gap: 15px;
      }
    }
  }
}

.footer-bottom {
  @include flex($direction: row, $wrap: wrap, $justify: space-between);

  &_item {
    &--images {
      @include tablet {
        max-width: 100px;
      }

      @include mobile {
        max-width: 70px;
      }
    }
  }
}


.main {
  font-weight: 600;
}