@use "../abstracts/" as *;

.navbar {
  padding-top: 40px;
  background-color: $background-color;

  &-container {
    padding-top: 0;
    padding-bottom: 37px;
  }

  @include tablet {
    padding: 29px 20px;
  }

  &-content {
    @include flex($justify: space-between);

    &--logo {
      @include tablet {
        max-width: 100px;
      }
    }
  }

  &-list {
    @include flex();
    gap: 20px;

    @include tablet {
      display: none;
    }

    &-item {
      position: relative;
      padding: 10px 0;
      font-weight: 600;
      box-sizing: border-box;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: $primary-color;
        opacity: 0;
        transition: opacity 0.3s ease;
      }

      &:hover::before {
        opacity: 1;
      }

      // Remove padding change on hover
      a {
        padding: 5px 10px; // Keep padding consistent
        transition: color 0.3s ease; // Only transition color to avoid layout shift
      }

      a:hover {
        color: $primary-color;
      }

      &:hover {
        background-color: white;
      }

      &:hover .dropdown-menu {
        display: block;
      }
    }
  }

  &-logo {
    font-size: 45px;

    &-first {
      color: $text-color;
      font-weight: 1000;
      margin-right: -10px;
    }

    &-second {
      color: $primary-color;
    }
  }

  &-menu-icon {
    display: none;
    font-size: 30px;
    cursor: pointer;

    @include tablet {
      display: block;
    }
  }

  &-mobile-menu {
    display: none;
    flex-direction: column;
    text-align: center;
    font-size: 20px;

    &.active {
      display: flex;
      width: 100%;
      position: absolute;
      top: 80px;
      left: 0;
      padding: 20px;
      gap: 20px;

      font-weight: 600;

      a:hover {
        color: $primary-color;
      }
    }
  }
}

.dropdown-menu {
  z-index: 1;
  background-color: #fff;
  border-bottom: 9px solid #6dbfd4;
  padding: 10px 10px;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 290%;

  &_item {
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;

    a {
      color: $text-color;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

.contact-us {
  border-bottom: none;

  &:hover {
    border-bottom: none;
  }
}
