<div class="clients">
  <div class="clients-head">
    <img src="../assets/icons/clients.svg" class="img-main clients-head_icon" />
    <span class="clients-head_title">OUR CLIENTS</span>
  </div>
  <div class="clients-logo">
    <div class="clients-logo_first">
      <img src="../assets/images/logo1.png" class="clients-logo_images img-main" />
      <img src="../assets/images/logo2.png" class="clients-logo_images img-main" />
      <img src="../assets/images/logo3.png" class="clients-logo_images img-main" />
    </div>
    <div class="clients-logo_second">
      <img src="../assets/images/logo4.png" class="clients-logo_images img-main" />
      <img src="../assets/images/logo5.png" class="clients-logo_images img-main" />
      <img src="../assets/images/logo6.png" class="clients-logo_images img-main" />
    </div>
  </div>
</div>
