<div class="detail-item">
  <div class="detail-item_head">
    <figure>
      <img
        class="icon-detail img-main"
        src="../assets/icons/icon-detail-pen.svg"
      />
    </figure>
    <h2 class="title">clean theme</h2>
  </div>
  <div class="detail-item_desc">
    <p>
      Ut nec lorem id orci convallis porta. Donec pharetra neque eu velit dictum
      molestie. Duis porta gravida augue sed viverra. Quisque at nulla leo, non
      aliquet mi.
    </p>
  </div>

  <div class="detail-item_read">
    <a><img src="../assets/icons/arrow.svg" /></a>
    <a>Read More</a>
  </div>
</div>
<div class="detail-item">
  <div class="detail-item_head">
    <figure>
      <img
        class="icon-detail img-main"
        src="../assets/icons/icon-detail-camera.svg"
      />
    </figure>
    <h2 class="title">responsive design</h2>
  </div>
  <div class="detail-item_desc">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi euismod
      placerat dui et tincidunt. Sed sollicitudin posuere auctor. Phasellus at
      ultricies nisl. Integer at leo eros.
    </p>
  </div>

  <div class="detail-item_read">
    <a><img src="../assets/icons/arrow.svg" /></a>
    <a>Read More</a>
  </div>
</div>

<div class="detail-item">
  <div class="detail-item_head">
    <figure>
      <img
        class="icon-detail img-main"
        src="../assets/icons/icon-detail-menu.svg"
      />
    </figure>
    <h2 class="title">fullylayerd psd</h2>
  </div>
  <div class="detail-item_desc">
    <p>
      Phasellus lobortis metus non augue sodales volutpat. Vestibulum sit amet
      nibh eros, hendrerit venenatis est. In vitae nulla nec purus cursus
      pretium sed id magna.
    </p>
  </div>

  <div class="detail-item_read">
    <a><img src="../assets/icons/arrow.svg" /></a>
    <a>Read More</a>
  </div>
</div>

<div class="detail-item">
  <div class="detail-item_head">
    <figure>
      <img
        class="icon-detail img-main"
        src="../assets/icons/icon-detail-plane.svg"
      />
    </figure>
    <h2 class="title">ready for coding</h2>
  </div>
  <div class="detail-item_desc">
    <p>
      Vivamus convallis feugiat mauris sed posuere. Nam rutrum, quam quis
      euismod commodo, elit est porta quam, non placerat eros neque porta ante.
      Fusce quis odio urna.
    </p>
  </div>

  <div class="detail-item_read">
    <a><img src="../assets/icons/arrow.svg" /></a>
    <a>Read More</a>
  </div>
</div>
