<div class="latest-work_top">
  <div class="latest-work_top--left">
    <img src="../assets/icons/Vector.svg" class="img-main latest-work_icon" />
    <span class="latest-work_top--title">LATEST WORK</span>
  </div>

  <div class="latest-work_top--right">
    <img
      src="../assets/icons/arrow-left.svg"
      class="img-main latest-work_arrow"
    />
    <img
      src="../assets/icons/arrow-right.svg"
      class="img-main latest-work_arrow"
    />
  </div>
  
</div>
<div class="latest-work_top--border"></div>
<div class="latest-work_bottom">
  <div class="latest-work_bottom">
    <div class="latest-work_bottom--item">
      <div class="latest-work_bottom--sub">
        <img
          src="../assets/icons/preview.svg"
          class="img-main latest-work_bottom--icon"
        />
        <img
          src="../assets/icons/link.svg"
          class="img-main latest-work_bottom--icon"
        />
      </div>
      <img
        src="../assets/images/latest-first.png"
        class="latest-work_bottom--img img-main"
      />
    </div>

    <div class="latest-work_bottom--item">
        <div class="latest-work_bottom--sub">
          <img
            src="../assets/icons/preview.svg"
            class="img-main latest-work_bottom--icon"
          />
          <img
            src="../assets/icons/link.svg"
            class="img-main latest-work_bottom--icon"
          />
        </div>
        <img
          src="../assets/images/latest-second.png"
          class="latest-work_bottom--img img-main"
        />
      </div>


      <div class="latest-work_bottom--item">
        <div class="latest-work_bottom--sub">
          <img
            src="../assets/icons/preview.svg"
            class="img-main latest-work_bottom--icon"
          />
          <img
            src="../assets/icons/link.svg"
            class="img-main latest-work_bottom--icon"
          />
        </div>
        <img
          src="../assets/images/latest-third.png"
          class="latest-work_bottom--img img-main"
        />
      </div>

      <div class="latest-work_bottom--item">
        <div class="latest-work_bottom--sub">
          <img
            src="../assets/icons/preview.svg"
            class="img-main latest-work_bottom--icon"
          />
          <img
            src="../assets/icons/link.svg"
            class="img-main latest-work_bottom--icon"
          />
        </div>
        <img
          src="../assets/images/latest-fourth.png"
          class="latest-work_bottom--img img-main"
        />
      </div>

    
  </div>

</div>
<div class="latest-work_bottom--border"></div>