<div class="product-card">
  <div class="product-card_image">
    <picture>
        <img src="{{productImage}}" class="product-card_image img-main" />
    </picture>
    <img
      src="../assets/icons/ic-view.svg"
      class="product-card_eye img-main"
      alt="eye image"
    />
    <div class="product-card_details">
      <img class="product-card_eye-small img-main" src="../assets/icons/ic-view.svg" />
      <span class="product-card_view">{{productView}}</span>
    </div>
    <div class="product-card_bg"></div>
  </div>
  <div class="product-card_content">
    <span class="title-secondary">{{productTitle}}</span>
    <p>by</p>
    <p>{{productDesc}}</p>
  </div>

  <a type="submit" class="product-card_btn">Review</a>
</div>
