@use "../abstracts/" as *;

@font-face {
  font-family: Roboto;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}

body {
  font-family: $primary-font;
  font-weight: 400;
  font-size: 1rem;
  line-height: pxToRem(24);
  color: $text-color;
  background-color: $background-color;

  @include tablet {
    font-size: pxToRem(11);
    line-height: pxToRem(16);
  }
}
