@use "functions" as *;

// Font family
$primary-font: Roboto;

// Breakpoints
$medium: 768px;
$extra-lager: 1200px;
$mobile: calc($medium - 1px);
$tablet: calc($extra-lager - 1px);



// Colors
$primary-color: white;
$background-color: #E8EBF1;
$secondary-color: #2AACC8;
$third-color: #81E4ED;
$text-color: #363636;
$main-spacing: pxToRem(2);



