<footer class="footer">
  <div class="container">
    <div class="footer_top">
        <include
          src="./components/footer-list.html"
          locals='{
                      "title": "company",
                      "list":"[`News`,`Blog`,`Testimonials`,`About Us`,`Press Kit`,`Get in Touch`,]"
                  }'
        ></include>

        <include
          src="./components/footer-list.html"
          locals='{
                "title": "products",
                "list":"[`UI Kits`, `Icons`,`Wordpress Themes`,`Mock-Ups`,]"
            }'
        ></include>
        <include
          src="./components/footer-list.html"
          locals='{
                "title": "support",
                "list":"[`Community`, `Forum`,`Distributors`,`Privacy Policy`,`Term of Use`,]"
            }'
        ></include>
        <include
          src="./components/footer-list.html"
          locals='{
                "title": "customers",
                "list":"[`Documentation`,`Tools`,`Downloads`,`Developer Center`]"
            }'
        ></include>
    </div>
    <div class="footer_bottom">
      <div class="footer_bottom_copyright">
        <p>© 2016 Hofmann UI Kit</p>
        <p>Created by Goldenfox — okodesign.net</p>
      </div>
      <div class="footer_bottom_social">
        <include
        src="./components/icon-footer.html"
        locals='{
          "urlImage": "[`../assets/icons/linkedin.svg`,`../assets/icons/google-plus.svg`, `../assets/icons/twitter.svg`, `../assets/icons/facebook.svg`, `../assets/icons/instagram.svg`]"
        }'
        >
      </div>
    </div>
  </div>
</footer>
