<header class="header">
  <include src="./components/nav.html"></include>

  <div class="hero-sec">
    <div class="container">
      <div class="hero-content">
        <div class="hero-content_images">
          <img src="../assets/images/header.png" class="img-main hero-content_banner active" />
          <img src="../assets/icons/download.svg" class="img-main hero-content_banner hidden" />
          <img src="../assets/images/header.png" class="img-main hero-content_banner hidden" />
          <img src="../assets/images/header.png" class="img-main hero-content_banner hidden" />
          <img src="../assets/images/header.png" class="img-main hero-content_banner hidden" />
        </div>
        
        <div class="hero-content_dots">
          <div class="hero-content_dot"></div>
          <div class="hero-content_dot"></div>
          <div class="hero-content_dot hero-content_dot--active"></div>
          <div class="hero-content_dot"></div>
          <div class="hero-content_dot"></div>
        </div>
      </div>
    </div>
  </div>
</header>
