<main>
  <!-- Stunning result -->
  <section class="result">
    <h3 class="result-title title-primary">Stunning Results</h3>
    <p class="result-desc">
      Just look to the statistics we have generate the past year.
    </p>

    <div class="result-cards">
      <include
        src="./components/result-card.html"
        locals='{
        "resultImage": "../assets/images/desktop/circle-1.png",
        "resultPercent": "74",
        "resultSup": "98",
        "resultTitle": "total conversion",
        "resultDesc": "The past few years have seen a dramatic change in the public perception of cosmetic surgery."
      }'
      >
      </include>

      <include
        src="./components/result-card.html"
        locals='{
        "resultImage": "../assets/images/desktop/circle-2.png",
        "resultPercent": "39",
        "resultSup": "75",
        "resultTitle": "free downloads",
        "resultDesc": "Can you imagine what we will be downloading in another twenty years?"
      }'
      >
      </include>

      <include
        src="./components/result-card.html"
        locals='{
        "resultImage": "../assets/images/desktop/circle-3.png",
        "resultPercent": "81",
        "resultSup": "15",
        "resultTitle": "unique visitors",
        "resultDesc": "WordPress, the premier free open-source blogging utility, has gone through several upgrades in its life."
      }'
      >
      </include>
    </div>
  </section>
  <!-- What client saying -->
  <section class="container-clients">
    <div class="container clients">
      <div class="clients-head">
        <p class="clients-title title-primary">What Clients are saying</p>
        <span class="clients-quotation">“</span>
      </div>

      <div class="clients-slider">
        <div class="clients-slider_icon">
          <img
            src="../assets/icons/prev-icon.svg"
            alt="prev"
            class="img-slider img-main"
          />
        </div>

        <p class="clients-slider_content">
          Businesses at present had creatively generated effective advertising
          campaigns in the form of audio visual media that includes the
          television and radios and the print media that cover the newspaper and
          campaign materials like the posters, brochures, business cards, flyers
          and many more.
        </p>

        <div class="clients-slider_icon">
          <img
            src="../assets/icons/next-icon.svg"
            alt="next"
            class="img-slider img-main"
          />
        </div>
      </div>

      <div class="clients-person">
        <img src="../assets/images/desktop/person.png" class="img-person img-main" />
        <div class="clients-person_contact">
          <p class="person-name">Ophelia Holland</p>
          <p>@ophelia_holland</p>
        </div>
      </div>
    </div>
  </section>


    <!-- Products -->
    <section class="products">
      <div class="container-products container">
        <h2 class="products-title title-primary">Recent Products</h2>
        <p class="products-desc">
          Having used discount toner cartridges for twenty years, there have been
          a lot of changes in the toner cartridge market. The market today is
          approximately a twenty billion dollar business.
        </p>
        <div class="products-cards">
          <include
            src="./components/product-card.html"
            locals='{
              "productImage": "../assets/images/desktop/products-1.png",
              "productView": "91312",
              "productTitle":"app maintenance",
              "productDesc":"Lida Morrison, Nettie Burke"
                    }'
          ></include>
  
          <include
            src="./components/product-card.html"
            locals='{
              "productImage": "../assets/images/desktop/products-2.png",
              "productView": "91312",
              "productTitle":"fta keys",
              "productDesc":"Ivan Alexander, Steven Soto, Clifford Hammond"
                            }'
          ></include>
  
          <include
            src="./components/product-card.html"
            locals='{
               "productImage": "../assets/images/desktop/products-3.png",
               "productView": "91312",
               "productTitle":"smart watch",
               "productDesc":"Trevor James, Carl Stevenson"
            }'
          ></include>
          <include
            src="./components/product-card.html"
            locals='{
              "productImage": "../assets/images/desktop/products-4.png",
              "productView": "91312",
              "productTitle":"watch apps",
              "productDesc":"Glen Snyder, Andrew Goodwin, Lida Morrison "
                                      }'
          ></include>
        </div>
      </div>
    </section>


  <!-- Start Selling Instantly -->
  <section class="start-selling">
    <h2 class="start-selling_title title-primary">Start Selling Instantly</h2>
    <p class="start-selling_sub">
      Start Selling With Your Pre-paid account. No deposit needed.
    </p>

    <form class="start-selling_form">
      <input type="email" class="start-selling_input" placeholder="Email" />
      <input type="submit" class="start-selling_btn" value="REGISTER" />
    </form>
  </section>


  <!-- Feedback -->
  <section class="container-feedback">
    <div class="feedback container">
      <h2 class="feedback-title title-primary">What people say</h2>
      <div class="feedback-cards">
        <include
          src="./components/feedback-card.html"
          locals='{
      "cardClass": "feedback-card_primary",
      "content": "It is not because things are difficult that we do not dare; it is because we do not dare that they are difficult.",
      "name": "Seneca the Younger",
      "nameClass": "",
      "address": "Editor in okodesign.net",
      "avatar": "../assets/images/desktop/client-1.png",
      "avatarClass": "feedback-card_avatar--primary"
    }'
        >
        </include>

        <include
          src="./components/feedback-card.html"
          locals='{
      "cardClass": "feedback-card_secondary",
      "content": "Attending a trade show can be a very effective method of promoting your company and its products.",
      "name": "Rachel Moreno",
      "nameClass": "feedback-card_name--secondary",
      "address": "Lead Designer in okodesign.net",
      "avatar": "../assets/images/desktop/client-2.png",
      "avatarClass": "feedback-card_avatar--seconday"
    }'
        >
        </include>
      </div>
      <div class="feedback-dots">
        <div class="feedback-dot feedback-dot_active"></div>
        <div class="feedback-dot"></div>
        <div class="feedback-dot"></div>
      </div>
    </div>
  </section>

  <!-- Subcribing plans -->
  <section class="plans-container container">
    <div class="plans">
      <h2 class="plans_title title-primary">Subscribing Plans</h2>
      <div class="plans-cards">
        <include
          src="./components/plans-card.html"
          locals='{
                  "planImage": "../assets/images/desktop/plan-1.png",
                  "planTitle": "FREEMIUM",
                  "planDesc": "[`Basic Collections`,`10 Messages`,`50 Images per Day`]",
                  "planPrice": "0"
              }'
        >
        </include>
        <include
          src="./components/plans-card.html"
          locals='{
                  "planImage": "../assets/images/desktop/plan-2.png",
                  "planTitle": "START UP",
                  "planDesc": "[`Multiple Collections`,`100 Messages`,`100 Images per Day`]",
                  "planPrice": "9"
              }'
        >
        </include>
        <include
          src="./components/plans-card.html"
          locals='{
                  "planImage": "../assets/images/desktop/plan-3.png",
                  "planTitle": "BUSINESS",
                  "planDesc": "[`Unlimited Collections`,`500 Messages`,`300 Images per Day`,`Project Reviews`]",
                  "planPrice": "29"
              }'
        >
        </include>
        <include
          src="./components/plans-card.html"
          locals='{
                  "planImage": "../assets/images/desktop/plan-4.png",
                  "planTitle": "ENTERPRISE",
                  "planDesc": "[`Unlimited Collections`,`Unlimited Messages`,`Unlimited Images per Day`,`Project Reviews`]",
                  "planPrice": "49"
              }'
        >
        </include>
      </div>
    </div>
  </section>

  <!-- Get In touch -->
  <section class="contact">
    <div class="container-contact">
      <h2 class="title title-primary">Get in Touch</h2>
      <form action="#" class="contact_form">
        <input
          type="text"
          class="input-main contact_form_input"
          placeholder="Name*"
          required
        />
        <input
          type="email"
          class="input-main contact_form_input"
          placeholder="Email*"
          required
        />
        <textarea
          class="input-main contact_form_input"
          rows="5"
          cols="30"
          placeholder="Message"
        ></textarea>
        <label class="form-checkbox contact_form_input"
          >Most Urgent Question <input type="checkbox" checked />
          <span class="form-checkbox_checkmark"></span>
        </label>
        <input type="submit" value="SUBMIT" class="btn" />
      </form>

      <!-- Start of contact info -->
      <div class="contact_info">
        <div class="contact-info_list">
          <img
            src="../assets/icons/location.svg"
            class="contact_icon"
            alt="location"
          />
          <p class="contact-info_item">
            2300 W Arbutus Dr Citrus Springs, FL 34434, USA
          </p>
        </div>
        <div class="contact-info_list">
          <img src="../assets/icons/mail.svg" class="contact_icon" alt="mail" />
          <p class="contact-info_item">contact@hofmannui.net</p>
        </div>
        <div class="contact-info_list">
          <img
            src="../assets/icons/phone.svg"
            class="contact_icon"
            alt="phone"
          />
          <p class="contact-info_item">952-775-6021</p>
        </div>
      </div>
    </div>
  </section>

  
</main>
