<div class="main">
    <section class="detail-sec">
        <div  class="container">
            <section class="detail-items">
                <include
                src="./components/detail-item.html"
              >
        </section>
        </div>
    </section>

    <section class="latest-sec">
        <div class="container">
            <include
            src="./components/latest-work.html"
          >
        </div>
    </section>

    
    <section class="testimotal-client-sec">
        <div class="container">
            <div class="testimotal-client-content">
                <include src="./components/testimotal.html"></include>
                <include src="./components/clients.html"></include>
            </div>
           
        </div>   
    </section>
    <section class="download-sec">
        <div  class="container">
            <include
            src="./components/download.html"
          >
    </div>
    </section>

</div>