@use "../../abstracts/" as *;

.container-clients {
  width: 100%;
  @include background-img(
    "../assets/images/desktop/background-client-saying.png"
  );
  background-position: unset;
}
.clients {
  color: $background-color;
  text-align: center;
  padding: 115px 0 73px;
  max-width: 80%;
  margin: 0 auto;
  @include tablet {
    padding: 40px 0;
  }
  @include mobile {
    padding: 30px 0;
    max-width: 90%;
  }

  &-head {
    position: relative;
  }


  &-quotation {
    left: 48%;
    font-size: 144px;
    color: $primary-color;
    position: absolute;
    top: 110px;

    @include tablet {
      display: none;
    }

    @include mobile {
      top: 50px;
      font-size: 64px;
      position: absolute;
      left: 48%;
      display: block;
    }
  }

  &-title {
    z-index: 1;
    position: relative;
  }

  &-slider {
    @include flex($justify: space-between);
    margin: 122px 0 53px;

    @include tablet {
      margin: 80px 10px 30px;
    }

    @include mobile {
      margin: 50px 10px 30px;
    }

    &_icon {
      max-width: 64px;
      max-height: 64px;
      padding-top: 30px;

      img {
        height: auto;
      }

      @include tablet {
        max-width: 40px;
        max-height: 40px;
      }

      @include mobile {
        display: none;
      }
    }

    &_content {
      width: 60%;
      line-height: pxToRem(36);
      font-size: pxToRem(24);
      text-align: left;

      @include tablet {
        font-size: pxToRem(12);
        line-height: pxToRem(16);
      }

      @include mobile {
        width: 100%;
      }
    }
  }

  &-person {
    @include flex($justify: center);

    &_contact {
      width: auto;
      margin-left: 30px;

      @include tablet {
        margin-left: 16px;
      }
    }
  }
}

.img-person {
  max-width: 72px;
  max-height: 72px;

  @include tablet {
    max-width: 48px;
    max-height: 48px;
  }
}

.person-name {
  color: $primary-color;
  padding-bottom: 5px;
}
