@use "../../abstracts/" as *;

.result {
  max-width: 1044px;
  margin: 0 auto;
  text-align: center;
  padding: 69px 0 112px;

  @include tablet {
    max-width: 580px;
    padding: 35px 0 48px;
  }

  &-title {
    padding-bottom: 20px;
  }

  &-cards {
    @include flex($justify: space-between, $wrap: wrap);
    margin-top: 56px;

    @include tablet {
        margin-top: 25px;

    }

    @include mobile {
        @include flex($justify: center, $direction: column);
        gap: 30px;
    }
  }
}
